.foto {
    max-width: 100%;
    max-height: 200px;

}

.lista {
    margin-top: 150px;
}

.opciones:hover {
    background-color: #f8f9fa; /* Cambia el color de fondo al pasar el mouse */
}

.opciones:hover span {
    color: red; /* Cambia el color del texto al pasar el mouse */
}

.fotologo {
    text-decoration: solid;
    text-transform: capitalize;
}

.card {
    transition: transform 0.3s ease; /* Transición suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}

.titulo{
    color: #333; /* Cambia el color según tu preferencia */
    font-size: 2.5rem; /* Cambia el tamaño de la fuente según tu preferencia */
    font-weight: bold; /* Opcional: Añade negrita */
    /* Otras propiedades de estilo según tu preferencia */
    border-bottom: 2px solid #333; /* Línea debajo del título */
    padding-bottom: 10px; /* Espacio entre el título y la línea */
    margin-bottom: 10px;
}
