/* Estilos para separar la descripción de la imagen */
.informacion{
    display: flex;
    flex-direction: column;
  }
  
  .col-lg-6 img {
    margin-bottom: 20px; /* Ajusta el margen inferior de la imagen */
  }
  
  /* Estilos para agregar una línea debajo de los títulos h3 */
  h3 {
    border-bottom: 1px solid #ccc; /* Añade una línea debajo de los títulos h3 */
    padding-bottom: 10px; /* Espacio entre el texto y la línea */
    margin-bottom: 20px; /* Espacio entre los títulos y el siguiente contenido */
  }

  .editBoton{
    margin-top: 10%;
  }