
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Tienda de Ropa</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <link rel='stylesheet' type='text/css' media='screen' href='css/contact.css'>
</head>
<body>
{{>navbar}}
<!-- Contenido Principal -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Información de Contacto -->
            <h1 class="titulo text-center mb-4 titulo" >¡Contáctanos!</h1>
            <p class="text-center">Somos una tienda de ropa comprometida en ofrecer productos de alta calidad y un excelente servicio al cliente. Si tienes alguna pregunta, comentario o inquietud, no dudes en comunicarte con nosotros.</p>
            <p class="text-center"><strong>Teléfono:</strong> +123 456 789</p>
            <p class="text-center"><strong>Correo Electrónico:</strong> info@tiendaropa.com</p>
            <p class="text-center"><strong>Sucursal:</strong> Edificio Carrión
                C. de Jacometrezo, 2, Centro, 28013 Madrid</p>
        </div>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8">
            <!-- Mapa de Google -->
            <h2 class=" titulo created text-center mb-4">Localización</h2>
            <div class=" d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.476112677751!2d-3.7091418254880515!3d40.420455155414935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287c58cbe409%3A0x8c339fe88706a78!2sEdificio%20Carri%C3%B3n!5e0!3m2!1ses!2ses!4v1708518562623!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; 2024 Tienda de Ropa</p>
</footer>

<!-- Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
