<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/createForm.css'>
    <title>Login</title>

</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <!-- <img src="" alt="Logo" class="img-fluid small-logo"> -->
                    <h3 class = "titulo"><strong>Crear nuevo producto</strong></h3>
                </div>
                <div class="card-body">
                    <form action="/createProduct" method = "POST">
                        <div class="form-group">
                            <p>Nombre del producto:</p>
                            <input type="text" class="form-control" id="name" name ="name" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <p>Descripción:</p>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Descripción" required></textarea>
                        </div>
                        <div class="form-group">
                            <p>Precio (en dólares):</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="price" name="price" placeholder= "Precio" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Cantidades de cada talla:</p>

                            <!--Cantidad de la talla XS-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">XS</span>
                                </div>
                                <input type="number" class="form-control" id="sizeXS" name="sizeXS" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>

                            <!--Cantidad de la talla S-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">S</span>
                                </div>
                                <input type="number" class="form-control" id="sizeS" name="sizeS" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>

                            <!--Cantidad de la talla M-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">M</span>
                                </div>
                                <input type="number" class="form-control" id="sizeM" name="sizeM" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>

                            <!--Cantidad de la talla L-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">L</span>
                                </div>
                                <input type="number" class="form-control" id="sizeL" name="sizeL" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>

                            <!--Cantidad de la talla XL-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">XL</span>
                                </div>
                                <input type="number" class="form-control" id="sizeXL" name="sizeXL" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>

                            <!--Cantidad de la talla XXL-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">XXL</span>
                                </div>
                                <input type="number" class="form-control" id="sizeXXL" name="sizeXXL" placeholder= "Cantidad" min="0" required>
                            </div>
                            <br>
                        </div>
                        <div class="form-group">
                            <p>URL de la foto:</p>
                            <input type="text" class="form-control" id="photo" name="photo" placeholder="URL foto" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Crear</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
