{{#additionalProducts}}
<div class="col-md-4 mb-4">
    <div class="card">
        <img src="{{photo}}" class="foto card-img-top" alt="  ¡Ups, foto no cargada!">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
        </div>
    </div>
</div>
{{/additionalProducts}}