<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/pedido.css'>
</head>
<body>

<!-- Navbar -->
{{>navbar}}

<!-- Content -->
<div class="container mt-4">
    <h1 class="text-center mb-4">Contenido del Pedido</h1>

    <div class="form-group pt-3">
        <form action="/changeOrder" id="orderSelection" method="POST">
            <select class="form-control" id="orderSelect" name="selectedOrder" onchange="cambiarPedido();" required>
                <option value="" disabled selected>Selecciona el pedido al que quieres cambiar</option> <!-- Opción inicial deshabilitada -->
                {{#allOrdersId}}
                    <option value="{{.}}">{{.}}</option>
                {{/allOrdersId}}
            </select>
        </form>
        <br>
        <form action="/newOrder" method="POST">
            <button type="submit" class="btn btn-primary">Nuevo pedido</button>
        </form>
    </div>
    <h6>Pedido nº: {{orderId}}</h6>
    <ul class="list-group">
        {{#productList}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="mb-1">{{name}}</h4>
                        <p class="mb-1">Precio total: {{totalPrice}}</p>
                        <p class="mb-1" id="currentQuantity-{{id}}">Cantidad: {{quantity}}</p>
                        <p class="mb-1">Talla: {{size}}</p>
                        <p class="mb-1">Color: {{color}}</p>
                    </div>
                    <div class="col-sm-6 text-right" id="editButton-{{id}}">
                        <button class="btn btn-warning mr-2" onclick="editarProducto({{id}});">Editar cantidad</button>
                        <form action="/deleteProductOrder" method="POST">
                            <input type="hidden" name="productId" value="{{id}}">
                            <input type="hidden" name="productSize" value="{{size}}">
                            <input type="hidden" name="productColor" value="{{color}}">
                            <input type="hidden" name="productQuantity" value="{{quantity}}">
                            <button type="submit" class="btn btn-danger mr-2" onclick ="return deleteW()" style ="margin-top: 10px">Eliminar producto</button>
                        </form>
                    </div>
                    <div class="col-sm-6 text-right d-none" id="editQuantity-{{id}}">
                        <p class="mb-1">Cantidad:</p>
                        <form action="/editOrder" method="POST">
                            <div class="input-group">
                                <input type="hidden" name="productId" value="{{id}}">
                                <input type="hidden" name="productSize" value="{{size}}">
                                <input type="hidden" name="productColor" value="{{color}}">
                                <input type="number" class="form-control" id="quantity" name="quantity" value="{{quantity}}" required>
                                <button type="submit" class="btn btn-primary" id="addToCart">Confirmar edición</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        {{/productList}}
        {{^productList}}
            <div class="col-sm-6">
                <h4 class="mb-1">Todavía no hay productos en este pedido.</h4>
            </div>
        {{/productList}}
    </ul>
    <br>
    <div class ="buttons">
        <div class="row justify-content-between mb-4">
            <div class="col-sm-6">
                <form action = "/orderReady" method ="POST">
                <button class="btn btn-primary mr-2" onclick="return realizarPedido()">Realizar Pedido</button>
                </form>
            </div>
            <div class="col-sm-6">
                <form action="/cancelOrder" method="POST">
                    <button class="btn btn-danger" onclick="return cancelarPedido()">Cancelar Pedido</button>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/orderPage.js"></script>
<script>
    function deleteW(){
    var confirmation = confirm("Si acepta, eliminará el producto del pedido");

    if (confirmation) {
        alert("El producto ha sido eliminado");
        return true;
    } else {
        alert("El producto sigue en su pedido");
        return false;
    }
}
</script>
</body>
</html>
