<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/pedido.css'>
</head>
<body>

<!-- Navbar -->
{{>navbar}}

<!-- Content -->
<div class="container mt-4">
    <h1 class="text-center mb-4">Contenido del Pedido</h1>
    <ul class="list-group">
        {{#productList}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="mb-1">{{name}}</h4>
                        <p class="mb-1">Precio por unidad: {{price}}</p>
                        <p class="mb-1">Cantidad: {{quantity}}</p>
                        <p class="mb-1">Talla: {{size}}</p>
                        <p class="mb-1">Color: {{color}}</p>
                        <p class="mb-1">Cantidad: {{quantity}}</p>

                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-warning mr-2" onclick="editarPedido()">Editar</button>

                    </div>
                </div>
            </li>
        {{/productList}}
    </ul>
    <div class ="buttons">
        <div class="row justify-content-between mb-4">
            <div class="col-sm-6">
                <button class="btn btn-primary mr-2" onclick="realizarPedido()">Realizar Pedido</button>
            </div>
            <div class="col-sm-6">
                <form action="/cancelOrder" method="POST">
                    <button class="btn btn-danger" onclick="return cancelarPedido()">Cancelar Pedido</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar la eliminación de un producto -->
    <div class="modal fade" id="eliminarProductoModal" tabindex="-1" role="dialog" aria-labelledby="eliminarProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarProductoModalLabel">Eliminar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este producto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="eliminarProducto()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function editarPedido() {
        $('#eliminarProductoModal').modal('show');
    }
/*
    function eliminarProducto( productId ) {
        $.ajax({
            type: "POST",
            url: "/deleteProductOrder",
            data: { productId: productId },
            success: function(response) {
                window.location.href = "/orderPage";
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });*/

    function cancelarPedido(){
        var confirmation = confirm("Si cancela, se borrará su pedido y deberá empezar de nuevo");

        if (confirmation) {
            alert("El pedido ha sido eliminado");
            return true;
        } else {
            alert("El pedido sigue vigente");
            return false;
        }
    }

</script>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
