<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
{{>navbar}}

<!-- Content -->
<div class="container mt-4">
    <h1 class="text-center mb-4">Contenido del Pedido</h1>
    <ul class="list-group">
        {{#productList}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="mb-1">{{name}}</h4>
                        <p class="mb-1">Precio: {{price}}</p>
                        <p class="mb-1">Talla: {{size}}</p>
                        <p class="mb-1">Color: {{color}}</p>
                        <p class="mb-1">Cantidad: {{quantity}}</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <!-- Add any additional actions or buttons here -->
                    </div>
                </div>
            </li>
        {{/productList}}
    </ul>
</div>



<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
