<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de Producto</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' type='text/css' media='screen' href='/css/productDetails.css'>
  
  <!-- Custom CSS -->
  <style>
    /* Agrega estilos personalizados aquí si es necesario */
  </style>
</head>
<body>

{{>navbar}}

  <div class="container mt-4">
    <div class="row">
        <div class="col-lg-6" >
            <!-- Imagen del Producto -->
            <img src="{{product.photo}}" class="img-fluid mx-auto d-block mb-3" alt="Imagen del Producto">
            
            <!-- Contenedor de la Descripción y Sugerencias de Combinación -->
            <div class="row">
                <!-- Descripción del Producto -->
                <div class="col-lg-12">
                    <h3 class="mt-4">Descripción:</h3>
                    <p>{{product.description}}</p>
                </div>

                <!-- Sugerencias de Combinación -->
                <div class="col-lg-12">
                    <h3>Sugerencias de Combinación:</h3>
                    <ul>
                        <li>Jeans azules y zapatillas blancas</li>
                        <li>Pantalones negros y chaqueta de cuero</li>
                        <li>Falda corta y botas altas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Detalles del Producto -->
            <h2>{{product.name}}</h2>
            <p><strong>Precio:</strong> {{product.price}}</p>
            <p><strong>Disponibilidad:</strong> <span class="" id="availability"></span></p>
            <form>
                <div class="form-group">
                    <label for="sizeSelect">Talla:</label>
                    <select class="form-control" id="sizeSelect" onchange="checkStock({{sizeXS}},{{sizeS}},{{sizeM}},{{sizeL}},{{sizeXL}},{{sizeXXL}})" required>
                        <option value="" disabled selected>Selecciona una talla</option> <!-- Opción inicial deshabilitada -->
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="colorSelect">Color:</label>
                    <select class="form-control" id="colorSelect" required>
                        <option value="" disabled selected>Selecciona un color</option> <!-- Opción inicial deshabilitada -->
                        <option value="Rojo">Rojo</option>
                        <option value="Azul">Azul</option>
                        <option value="Verde">Verde</option>
                        <option value="Amarillo">Amarillo</option>
                        <option value="Negro">Negro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="colorSelect">Cantidad:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder= "Cantidad" value="1" min="1" max="" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="addToCart">Agregar al Carrito</button>
            </form>
            <div class="d-flex justify-content-between">
                <form action="/editProduct/{{product.id}}">
                    <button type="submit" class="editBoton btn btn-warning">Editar producto</button>
                </form>
                <div class="d-inline">
                    <form  id="deleteform" action="/deleteProduct/{{product.id}}" method="POST">
                        <button type="submit" onclick="return confirmDelete()" class="editBoton btn btn-danger">Eliminar producto</button>
                    </form>
                </div>
            </div>

        </div>
    </div><!-- Carrito de Compras Modal -->
    <div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded shadow">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="carritoModalLabel">Carrito de Compras</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Contenido del carrito de compras -->
              <div id="cartItems">
            <div class="list-group">

            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JS y dependencias -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/productDetails.js"></script>
<script>
    document.getElementById("addToCart").addEventListener("click", function(event) {
        event.preventDefault();
        var productName = "{{product.name}}";
        var productPrice = "{{product.price}}";
        var productQuantity = document.getElementById("quantity").value;

        var product = {
            name: productName,
            price: productPrice,
            quantity: productQuantity
        };

        addToCart(product);
        alert("Producto agregado al carrito");

    });


    var cart = [];

    function addToCart(product) {
        var existingProductIndex = cart.findIndex(item => item.name === product.name);
        if (existingProductIndex !== -1) {
            cart[existingProductIndex].quantity += product.quantity;
        } else {
            cart.push(product);
        }
        displayCart();
    }

    function displayCart() {
        var cartItemsElement = document.getElementById("cartItems");
        cartItemsElement.innerHTML = "";

        cart.forEach(function(product, index) {
            var productElement = document.createElement("div");
            productElement.classList.add("cart-item");

            productElement.innerHTML = `
            <div class="cart-item-info">
                <h4>${product.name}</h4>
                <p>Precio: ${product.price}</p>
                <p>Cantidad: ${product.quantity}</p>
            </div>
            <div class="cart-item-actions">
                <button onclick="deleteProduct(${index})">Eliminar</button>
            </div>
        `;
            cartItemsElement.appendChild(productElement);
        });
    }

    function deleteProduct(index) {
        cart.splice(index, 1);
        displayCart();
    }

    window.onload = function() {
        displayCart();
    };



    window.onload = function() {
        displayCart();
    };

    // Limpiar el carrito al cargar la página
    window.onload = function() {
        clearCart();
        displayCart();
    };

    // Función para limpiar el carrito del almacenamiento local
    function clearCart() {
        localStorage.removeItem("cart");
    }
</script>
</body>
</html>
